<!DOCTYPE html>
<html>
<style>
table, td, th  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
div.input {
    position: fixed;
    top: 120px;
    left: 110px;
    width: 980px;
    border: 3px solid #ffe6e6;
	background-color: #f2ffcc;
}
div.result {
    position: fixed;
    top: 220px;
    left: 110px;
    width: 980px;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="elasticsearch.angular.js"></script>
<body ng-app="EsConnector" ng-controller="QueryController">
<div>
<p><img src="NAPA_Logo_big.jpg" style="width:100px;height:100px;" align="center" hspace="100"><font size="7">ExceptionReplay</font></p>
</div>
<div class="input">
<form>
  <br>
  <font size="4">ApplicationID: </font><input type="text" ng-model="APPID" size="20" align="left">
  <font size="4">InterfaceID: </font><input type="text" ng-model="IntID" size="20" align="left">
  <font size="4">ExceptionCode: </font><input type="text" ng-model="ErrorID" size="20" align="left">
  <br>
  <br>
  <button type="submit" ng-click="myFunc()">Search</button>
  <button type="submit" ng-click="SendToReplay()">Replay</button>
</form>
</div>
<br>
<br>
<div class="result" style="overflow:scroll; height:400px;" ng-show="hits.length > 0">
<table>
  <col width="10">
  <col width="80">
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
  <col width="150">
  <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
  <th>APPID</th>
  <th>InterfaceName</th>
  <th>TransactionID</th>
  <th>ExceptionMessage</th>
  <th>StackTrace</th>
  <th>ExceptionCode</th>
  <th>TimeStamp</th>
  <th>TransactionData</th>
  </tr>
  <tr ng-repeat="x in hits">
    <td>
    <input type="checkbox" ng-model="x.selected" ng-class="{'selected': x.selected}" ng-click="select(x)"/>
    </td>
    <td ng-if="$odd" style="background-color:#f1f1f1">
    {{ x._source.Header.ApplicationID }}</td>
    <td ng-if="$even">
    {{  x._source.Header.ApplicationID }}</td>
    <td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.Header.InterfaceID }}</td>
    <td ng-if="$even">
    {{  x._source.Header.InterfaceID }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.Header.TransactionID }}</td>
    <td ng-if="$even">
    {{  x._source.Header.TransactionID }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.Header.Message }}</td>
    <td ng-if="$even">
    {{  x._source.Header.Message }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.StackTrace }}</td>
    <td ng-if="$even">
    {{  x._source.StackTrace }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.ExceptionCode }}</td>
    <td ng-if="$even">
    {{  x._source.ExceptionCode }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.Header.Timestamp }}</td>
    <td ng-if="$even">
    {{  x._source.Header.Timestamp }}</td>
	<td ng-if="$odd" style="background-color:#f1f1f1">
    {{  x._source.Header.Transaction }}</td>
    <td ng-if="$even">
    {{  x._source.Header.Transaction }}</td>
  </tr>
</table>
</div>
<script>
// We define an EsConnector module that depends on the elasticsearch module.     
var EsConnector = angular.module('EsConnector', ['elasticsearch']);

// Create the es service from the esFactory
EsConnector.service('es', function (esFactory) {
  return esFactory({ host: 'localhost:9200' });
});

// We define an Angular controller that returns the server health
// Inputs: $scope and the 'es' service

EsConnector.controller('ServerHealthController', function($scope, es) {

    es.cluster.health(function (err, resp) {
        if (err) {
            $scope.data = err.message;
        } else {
            $scope.data = resp;
        }
    });
});

// We define an Angular controller that returns query results,
// Inputs: $scope and the 'es' service
EsConnector.controller('QueryController', function($scope, $filter, es) {

// search for documents
$scope.myFunc = function () {
    var k = "Header.ApplicationID:APG1";
    es.search({
    index: 'exceptions',
    size: 50,
    body: {
    "query":
        {
           "bool": {
      "must": [
        { "match": {"Header.ApplicationID":$scope.APPID }},
        { "match": {"Header.InterfaceID":$scope.IntID}}
      ]
	  
    }
	
        },
    }
       
    }).then(function (response) {
      $scope.hits = response.hits.hits;
    });
}
 $scope.checkAll = function () {
        if ($scope.selectedAll) {
            $scope.selectedAll = true;
        } else {
            $scope.selectedAll = false;
        }
        angular.forEach($scope.hits, function (item) {
		    item.selected = $scope.selectedAll;
            //alert(item.selected);			
        });
};
 $scope.select = function(item) {
         item.selected ? item.selected = true : item.selected = false;
       };	   
	$scope.SendToReplay = function () {
	   alert("Selected Transaction(s) ready to be Replayed");
	   var x = $filter("filter")($scope.hits, {
           selected: true
         }, true);
    }

});
</script>
</body>
</html>
